{% extends "base.html" %}

{% block content %}
    <h1>This is my contacts</h1>
    <p>you can contact me via email:</p>
    <p>zavyalov.den@yandex.ru</p>
    <form method="post">
        <label for="topic">Topic</label>
        <input name="topic" type="text" placeholder="Topic"><br>

        <label for="msg">message</label>
        <textarea name="msg" placeholder="Enter your message"></textarea><br>

        <label for="email">topic</label>
        <input name="email" placeholder="Enter your email"><br>

        <button type="submit">Submit</button>
    </form>
{% endblock %}