<ul>
    <li><a href="/">Main</a></li>
    <li><a href="/contacts/">Contacts</a></li>
    <li><a href="/about/">About</a></li>
</ul>

<ul>
    <li><a href="/course_list/">Course list</a></li>
    <li><a href="/category_list">Category list</a></li>
    <li><a href="/create_category/">Create category</a></li>
    <li><a href="/create_course/">Create course</a></li>
    <li><a href="/create_student/">Create student</a></li>
    <li><a href="/add_student/">Add student</a></li>
    <li><a href="/student_list/">List students</a></li>
    {#    <li><a href=""></a></li>#}
</ul>