{% extends "base.html" %}

{% block content %}
    <h1>Создание категории</h1>
    <form method="post">
        <select size="3" name="course_name">
            {% for item in courses %}
                <option value="{{ item.name }}">{{ item.name }}</option>
            {% endfor %}
        </select>
        <select size="3" name="student_name">
            {% for item in students %}
                <option value="{{ item.username }}">{{ item.username }}</option>
            {% endfor %}
        </select>
        <button type="submit">Записать</button>
    </form>
{% endblock %}